/* box/font size */
*, *::before, *::after{
  margin: 0;
  padding: 0;
}
/* styles */
html{
  scroll-behavior: smooth;
  background: #E2DAC6;
}
body {
  font-family: Tahoma, Times New Roman;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.1;
  color: #0f0f0f;
}
h1, h2{
  font-family: Tahoma, Times New Roman;
  font-weight: 400;
  text-align: center;
}
.title {
  color: pearl;
  text-shadow: 2px 2px black;
  text-align: center;
  padding: 48px;
  padding-top: 96px;
  border-top: 1px black solid;
}
ul {
  list-style: none;
}
a{
  color: #0f0f0f;
}

/* NAV */
.nav-bar{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #F5DEB3;
}
.nav-link{
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-left: auto;
  padding: 0px 10px 0px 10px;
  margin-right: 14px;
  font-family: Verdana; 
}
.logo-image {
  width: 25px;
  height: 25px;
  margin-left: 22px;
  border: 10px solid #BA8759;
  border-radius: 2px;
  box-shadow: 2px 2px 1px black;
  object-fit: cover;
}
.nav-link a {
  display: block;
  font-size: 15px;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}
.nav-link a:hover{
  background-color: oak;
  cursor: pointer;
  color: #b0b0b0;
  text-shadow: 2px 2px 1px black;
}

/* WELCOME SECTION */
.welcome-section{
  display: flex;
  width: 100%;
  height: 45%;
  justify-content: center;
  align-items: center;
  background-color: #6F4E37;
  background-size: cover;
}

.welcome-section > p{
  font-size: 20px;
  font-weight: 120;
  font-style: sans-serif;
  color: #D7A98C;
}
.media{
  background-color: #C19A6B;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 20px 10px 10px;
  gap: 10px;
  padding: 20px;
  border: 3px solid brown;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 2px;
}
.textbox{
  display: flex;
  background-color: almond;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  gap: 10px;
  padding-left: 22px;
}
.random{
  display: inline-block;
  padding: 10px;
  border-radius: 2.2px;
  align-self: center;
}
.random:hover{
  background-color: #E9D7AB;
}
/* TEAM SECTION */
.team{
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  background-color: burlywood;
  padding: 0px 24px 96px 24px;
}
.team-member{
  display: grid;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 60%;
  gap: 6px;
  padding: 10px;
  color: #ededed;
  text-shadow: 3px 3px 2px black;
}
.team-member-pic{
  width: 130px;
  height: 130px;
  border: 10px solid #F5DEB3;
  border-radius: 18px;
  box-shadow: 3px 3px 4px black;
  object-fit: cover;
}

.team-member h2 {
  font-size: 30px;
  color: pearl;
}

/* QUOTE SECTION */
.quote{
  display: flex;
  font-style: typeface;
  background-color: #FAD6A5;
  font-size: 30px;
  line-height: 70px;
  width: 100%;
  flex-direction: column;
  padding: 128px 128px 96px;
  border-bottom: solid black 1px;
}

.quote p{
  text-align: center;
  font-style: typeface;
  font-weight: 400;
  color: pearl;
}

/* PORTFOLIO SECTION */
.portfolio{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  padding: 0px 24px 96px 24px;
  background-color: #997950;
  height: 50%;
}

.portfolio-tile{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  color: pearl;
  padding: 10px;
  width: auto;
}
.portfolio-icon{
  width: 250px;
  height: 250px;
  border: 14px solid #F5DEB3;
  border-radius: 20px;
  box-shadow: 3px 3px 4px black;
  object-fit: cover;
}
.portfolio-txt{
  font-family: Tahoma, Times New Roman;
  text-align: center;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 400;
}
/* contact section */
.contact-me{
  display: flex;
  flex-direction: column;
  justify-content: column;
  text-align: center;
  width: 100%;
  background-color: artichoke;
  font-weight: 400;
}
.contact-container{
  margin-bottom: 30px;
}
.contact-row-info{
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 20px;
  font-size: 20px;
}
.contact-icon{
  height: 30px;
  width: 30px;
}
.contact-me a{
  color: pearl;
  text-decoration: none;
  font-weight: 500;
  text-shadow: black 2px 2px;
}
.contact-me a:hover{
  color: sage;
  text-direction: none;
  font-weight: 500;
  text-shadow: black 2px 2px;
}
/* email */
.email{
  display: flex; 
  flex-direction: column;
  justify-content: column;
  background: almond;
  font-size: 15px;
  color: pearl;
  border-radius: 5px;
  border: 4px solid #DCB68A;
  text-align: center;
  font-family: Verdana;
}
.email-header{
  font-size: 13px;
}
.subtext{
  font-size: 10px;
}
.submit{
  display: block;
  width: 40%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #A17249;
  border-color: #DCB68A;
}
/* for Terra */
#terraglotte{
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  pointer-events: auto;
}
#terrapfp{
  width: 30px;
  height: 30px;
  overflow: hidden;
  top: 0;
}
.dropdown {
  position: absolute;
  left: -15em;
  top: 100%;
  border: 4px solid #E2DAC6;
  background-color: #E9E4D4;
  padding: 0.75rem;
  border-radius: 0.25rem;
  display: none;
  flex-direction: column;
  width: 30em;
  text-align: center;
  color: pearl;
  box-shadow: 3px 3px 4px black;
}
.link {
  border: none;
  background: none;
  color: pearl;
  cursor: pointer;
  font-size: 1.3em;
  border: 4px solid;
  border-radius: 1em;
  position: relative;
}
.link:hover {
  background: pearl;
}
.secondndanniversary{
  position: relative;
  color: pearl;
  top: 4rem;
  width: 10rem;
  opacity: 0;
  background: black;
  text-align: center;
  pointer-events: none;
}
#terraglotte:hover > .secondndanniversary{
  transition: 130s, linear;
  top: 15em;
  font-size: 20px;
  animation: appear 4s 2s forwards;
}
#terrapfp:hover{
  transition: 100s linear;
  width: 150em;
}
.terraname{
  position: absolute;
  width: 100%;
  font-family: Verdana, Copperplate;
  top: none;
  font-size: 8vw;
  margin: 0 4em 0 4m;
  text-align: center;
  opacity: 0.5;
  pointer-events: none;
}
#terraglotte:hover > .terraname{
  opacity: 1;
  transition: 4;
  background: black;
}
@keyframes appear {
    from {opacity: 0} to {opacity: 1};
}
/* footer */
.footer p{
  text-align: center;
  color: black;
  font-size: 20px;
  padding: auto;
  background-color: #E2DAC6;
}
